@font-face {
  font-family: Vampire;
  src: url(bloodlust/bloodlustexpand.ttf);
}
@font-face {
  font-family:vampireOut;
  src: url(bloodlust/bloodlustout.ttf)
}
body{
    background-color: #1a0010;
  }
  
  main{
    color: #ffffff;
  }
  a {
    text-decoration: none;
    color: #cf0000;
    font-family: Vampire;
    font-size: 5em;
    letter-spacing: 3px;
  }
  nav {
    text-align: center;
    font-family: VampireOut
  }
  .list {padding-left: 25px;}