@font-face {
  font-family: Vampire;
  src: url(bloodlust/bloodlustexpand.ttf);
  font-stretch: extra-expanded;
}
body{
    background-color: #1a0010;
  }
  
  main{
    color: #ffffff;
  }
  a {
    text-decoration: none;
    color: #cf0000;
    font-family: Vampire;
    font-size: 5em;
  }
  nav {
    text-align: center;
  }
  .list {padding-left: 25px;}