@font-face {
  font-family: Vampire;
  src: url(bloodlust/bloodlustexpand.ttf);
}
@font-face {
  font-family:VampireOut;
  src: url(bloodlust/bloodlustout.ttf);
}
@font-face {
  font-family:VampireText;
  src: url(bloodlust/DarkAge.ttf);
}
#wrapper {
  margin: 30px;
  margin-top: -70px;
}
body{
    background-color: #1a0010;
  }
  
  main{
    color: #ffffff;
    font-family:VampireText;
    font-size: 1.2em;
    letter-spacing: 1px;
  }
  .mp {
  }
  header {
    color: #cf0000;
    font-family: Vampire;
    font-size: 5em;
    letter-spacing: 4px;
    text-align: center;
    padding:-250px;
  }
  nav {
    color: #cf0000;
    font-family: VampireOut;
    font-size: 5em;
    letter-spacing: 2px;
    text-align: center;
    padding:-250px;
  }
  a {
    color: #cf0000;
    text-decoration: none;
  }
  .list {
    padding-left: 20px;
    
  }
  .emph {
    color:#cf0000;
    font-size: 1.5em;
  }
dt{
  padding-left: 75px;
}
footer{
  color: #ffffff;
  font-family: Courier, arial;
  font-size: 1em;
  letter-spacing: 1px;
}
.charimage {
  float: right;
  padding-left:100px;
  padding-top:-50px;

}